/* color palette */
$dark-blue:#120078;
$purple:#9d0191;
$light-red:#fd3a69;
$yellow:#fecd1a;

/*color gradiants */
$blue-purple-gradiant-top-right:linear-gradient(53.3deg, #120078 16.73%, #640187 48.82%, #9D0191 86.76%);
$blue-purple-gradiant-top:linear-gradient(0deg, #120078 0%, #640187 66.59%, #9D0191 100%);

/* font colors */
$font-color-text:#EEEEEE;
$font-color-heading:#F0F0F0;